@media only screen  and (max-width : 1919px) {
.header__leftlogo { width: 22%; }
.header__main_tagline { margin: 4% 22% 6% 22%; }
.header__rightlogo { width: 21%; }
.main__menu-link { padding: 5px 50px 10px 50px; }
.last__items:before { top: 27%; }
.search__login:before { width: 41px; height: 42px; }
.main__sales_stock-link { margin: 9% 0 0 0; padding: 3.5% 0;}
.main__sales-product { width: 390px; height: 240px; }
.main__sales-product-img { width: 390px; height: 240px; }
.main__sales-product:after { width: 379px; height: 55px; left: 1.5%; }
.main__sales-product-name { top: 71%; }
.main__sales-jerrycan { top: 68%; left: 9.5%; }
.main__sales-gear { left: 6%; }
.main__sales-wheel { top: 66.5%; left: 7%; }
.main__sections { margin: 0 0 0 4.5%; }
.main__sections p { padding: 1.2% 0; margin: 2.7% 0 0 0; }
.main__sections-inner-link { width: 390px; height: 240px; }
.main__sections-inner { margin: 1.7% 0 0 0; }
.main__sections-inner-img { width: 390px; height: 240px; }
.main__sections-inner-link:before { width: 380px; height: 55px; top: 66%; }

.header__mini-nav { width: 310%; left: -176%; }
.search__logout:before { top: 0%; right: 32%; }

#last__items-list { width: 21%; top: 12%; right: 18%; }
#last__items-list:before { left: 18.5px; }
}

@media only screen  and (max-width : 1767px) {
.header__leftlogo { width: 24%; }
.header__main_tagline { margin: 4% 19% 6% 19%; }
.search__icon-search { left: 94%; }
.last__items:before { top: 24%; }
.header__rightlogo { width: 23%; }
.main__menu-link { padding: 5px 45px 10px 45px; }
.main__sections { margin: 0 0 0 3.2%; }
.main__sections p { margin: 2.8% 0 0 0; }
.main__sections-inner { margin: 2% 0 0 0; }
.main__sections-inner-link { width: 380px; height: 240px; }
.main__sections-inner-img { width: 380px; height: 240px; }
.main__sections-inner-link:before { width: 369px; height: 53px; top: 66.5%; left: 1.5%; }

.header__mini-nav { width: 300%; left: -162%; }
.search__icon-search-mini { top: 0%; left: 96%; width: 45px; height: 45px; }
.search__logout span { left: 37%; }

#last__items-list { width: 22%; top: 166px; right: 302px; }
}

@media only screen  and (max-width : 1679px) {
.header__leftlogo { width: 20%; }	
.header__rightlogo { width: 19%; }
.header__left_tagline { font-size: 42px; }
.header__main_tagline { font-size: 66px; margin: 4% 23% 6% 23%; }
.header__right_tagline { font-size: 42px; }
.search input { padding: 1.25% 0 1.25% 3%; }
.search__icon-search { top: 2%; }
.search__basket:before { top: 11%; left:23%; }
.search__login:before { width: 41px; height: 41px; }
.main__menu-link { padding: 5px 40px 10px 40px; }
.main__sales_stock-link { letter-spacing: 0px; }
.main__sales-product { width: 350px; height: 230px; margin: 7% 0 0 0;}
.main__sales-product-img { width: 350px; height: 230px; }
.main__sales-product strong { right: 8%; }
.main__sales-product-name { top: 70%; left: 21%; font-size: 14px; }
.main__sales-product:after {  width: 339px; left: 1.7%; }
.main__sales-jerrycan { width: 25px; height: 35px; top: 68%; left: 10%; }
.main__sales-gear { width: 46px; height: 39px; top: 67%; left: 6.3%; }
.main__sales-wheel { width: 40px; height: 41px; top: 66.5%; left: 7%; }
.main__sections { margin: 0 0 0 4.5%; }
.main__sections p { margin: 2.8% 0 0 0; padding: 1.2% 0; }
.main__sections-inner {  margin: 2% 0 0 0; }
.main__sections-inner-prod { width: 360px; height: 230px; margin: 0 0 2% 0; }
.main__sections-inner-img { width: 360px; height: 230px; }
.main__sections-inner-link { width: 360px; height: 230px; }
.main__sections-inner-link:before { width: 349px; top: 66%; left: 1.7%; }
.main__sections-inner-name { font-size: 24px; }
.main__sections-inner-gear { width: 47px; height: 39px; top: 67.5%; }
.main__sections-inner-jerrycan { top: 68%; }
.main__sections-inner-wheels { width: 40px; height: 41px; top: 67.5%; left: 7.5%; }
.main__sections-inner-accessories { width: 40px; height: 35px; top: 68.5%; left: 7.5%; }
.main__sections-inner-instruments { width: 40px; height: 35px; }
.main__sections-inner-accumulators { width: 40px; height: 35px; top: 69%; }
.main__sections-inner-autoglass { width: 45px; height: 35px; }
.main__sections-inner-parts { width: 35px; height: 35px; }
.main__sections-inner-fastening { width: 45px; height: 35px; }

.header__mini-nav { width: 290.5%; left: -160%; }
.header__mini-link { font-size: 22px; }
.search__mini input { padding: 1% 0 1% 2%; }
.search__icon-search-mini { top: 4%; left: 97%; width: 49px; height: 49px; background-size: contain; }
.last__items-mini { width: 70px; height: 51px; }
.last__items-mini:before { top: 26%; left: 9%; }
.search__logout { margin: 0.6% -1.5% 0 1%; }
.search__logout:before { top: -1%; right: 33%; margin: 0.6% -1.5% 0 1%; }
.search__logout span { position: absolute; left: 36%; }

#last__items-list { width: 23%; top: 167px; right: 272px; }
#last__items-list:before { left: 25.5px; }
}

@media only screen  and (max-width : 1599px) {
.header { height: 120px; }
.header__left_tagline { font-size: 34px; }
.header__left_la-logo { width: 110px; height: 70px; background-size: contain; margin: 3% 0 0 5%; }
.header__main_tagline { font-size: 50px; margin: 4% 0% 6% 27%; }
.search { margin: -4% 0 0 2.5%; width: 66%; }
.search input { font-size: 16px; padding: 0.9% 0 0.9% 2%; border-radius: 12px; }
.search__icon-search { left: 96%; width: 38px; height: 33px; background-size: contain; }
.last__items { width: 38px; height: 35px; border-radius: 12px; margin: -4% 0 0 2.5%; }
.last__items:before { top: 25%; left: 10%; width: 25px; height: 20px; }
.search__basket { width: 50px; height: 45px; margin: -5% 0 0 0; }
.search__basket:before { font-size: 12px; top: 6%; left: 22%; }
.search__login { width: 120px; height: 30px; border-radius: 12px; font-size: 16px; margin: -4% 0 0 0; }
.search__login:before { width: 31px; height: 31px; top: -3%; left: 4% }
.search__login span { position: absolute; left: 40%; }
.header__right_tagline { font-size: 34px; margin: 4% 0 0 0; }
.header__right_insta { width: 75px; height: 65px; background-size: contain; margin: 4% 0 0 5%; }
.main__menu-link { padding: 5px 45px 10px 45px; font-size: 24px; border-radius: 15px; }
.main__sales_stock { width: 33%; }
.main__sales_stock-link { font-size: 20px; border-radius: 15px; letter-spacing: 1px; padding: 2.5% 0; margin: 8% 0 0 0;  }
.main__sales-product { width: 330px; height: 190px; margin: 5% 0 0 0; }
.main__sales-product-img { width: 330px; height: 190px; }
.main__sales-product strong { width: 80px; height: 30px; padding: 1% 0 0 0; font-size: 16px; }
.main__sales-product:after { width: 319px; }
.main__sales-product-name { top: 70.5%; font-size: 13px; }
.main__sales-product:before { width: 80px; height: 80px; background-size: cover; }
.main__sales-product strong { width: 95px; height: 28px; right: 5%; }
.main__sales-jerrycan { width: 25px; height: 33px; top: 68%; left: 9.5%; }
.main__sales-gear { width: 41px; height: 34px; top: 68%; }
.main__sales-wheel { width: 35px; height: 35px; top: 67.5%; left: 7.5%;}
.main__sections { margin: 0 0 0 3.5%; }
.main__sections p { font-size: 20px; letter-spacing: 1px; border-radius: 15px; margin: 2.5% 0 0 0; padding: 0.9% 0; }
.main__sections-inner { margin: 1.8% 0 0 0; }
.main__sections-inner-link { width: 325px; height: 190px; margin: 0 0 1.7% 0; }
.main__sections-inner-img { width: 325px; height: 190px; }
.main__sections-inner-link:before { width: 314px; top: 65%; left: 1.8%; }
.main__sections-inner-name { top: 70%; font-size: 20px; }
.main__sections-inner-gear { width: 42px; height: 34px; }
.main__sections-inner-jerrycan { width: 25px; height: 35px; }
.main__sections-inner-wheels { width: 35px; height: 36px; }
.main__sections-inner-accessories { width: 35px; height: 30px; top: 68.5%; left: 8%; }
.main__sections-inner-instruments { width: 35px; height: 30px; }
.main__sections-inner-accumulators { width: 35px; height: 30px; top: 68.5%; left: 8%; }
.main__sections-inner-autoglass { width: 40px; height: 30px; }
.main__sections-inner-parts { width: 30px; height: 30px; }
.main__sections-inner-fastening { width: 40px; height: 30px; top: 69%; }
.main__bottom_menu-wrap { margin: 0.5% 0 0 0; }
.main__bottom_menu-wrap p { font-size: 16px; }
.main__bottom_menu-wrap ul { margin: 0; }
.main__bottom_menu-wrap li { padding: 0.5% 0; }
.main__bottom_menu-link { font-size: 14px; }
.footer__copyright { font-size: 16px; padding: 0.5%; }

.header__mini { height: 55px; }
.header__mini-leftlogo { width: 14.5%; }
.header__mini-logo { width: 70px; height: 40px; }
.header__mini-btn { width: 65px; height: 55px; margin: 0 10% 0 2%; }
.header__mini-btn:hover { width: 65px; height: 55px; margin: 0 10% 0 2%;}
.header__mini-nav { top: 100%; width: 307.5%; left: -185%; }
.header__mini-link { font-size: 20px; }
.header__mini-link:before { width: 6px; height: 25px; left: 8%; }
.header__mini-link:hover:before { width: 6px; height: 25px; left: 8%; }
.header__main-mini { width: 85%; }
.search__mini { width: 78%; margin: 0.6% 0 0 -1.5%; }
.search__mini input { padding: 0.7% 0 0.7% 1%; }
.search__icon-search-mini { left: 97.5%; }
.last__items-mini { width: 42px; height: 38px; margin: 0.6% 0 0 2.5%; }
.last__items:before { top: 23%; left: 13%; }
.search__basket-mini { width: 51px; height: 45px; margin: 0 0 0 0.5%; }
.search__logout { width: 10%; height: 30px; margin: 0.6% 0 0 0.5%; border-radius: 12px; }
.search__logout:before { width: 30px; height: 35px; top: 4%; right: 35%; }
.search__logout span { font-size: 20px; left: 32%; }

#last__items-list { width: 26%; top: 130px; right: 216px;; }
#last__items-list:before { top: -51px; left: 50.5px; width: 40px; }
}

@media only screen  and (max-width : 1439px) {
.search__icon-search { top: 1%; left: 96%; }
.last__items:before { top: 22%; left: 10%; }
.main__menu-link { padding: 5px 40px 10px 40px; }
.main__sales_stock { width: 30%; }
.main__sales-product { width: 320px; height: 185px; }
.main__sales-product-img { width: 320px; height: 185px; }
.main__sales-product:after { width: 310px; }
.main__sales-product strong { width: 95px; }
.main__sections-inner { margin: 1.7% 0 0 0; }
.main__sections-inner-link { width: 315px; height: 185px; }
.main__sections-inner-img { width: 315px; height: 185px; }
.main__sections-inner-link:before { width: 303px; }
.main__sections-inner-name { top: 70%; }
.main__sections-inner-jerrycan { top: 67%; left: 9.5%; }
.main__sections-inner-gear { top: 67%; }
.main__sections-inner-wheels { top: 66.5%; }
.main__sections-inner-accessories { top: 68%; left: 7.58%; }
.main__sections-inner-instruments { width: 30px; height: 30px; top: 68.5%; left: 8.5%; }
.main__sections-inner-accumulators { left: 7.58%; }

.header__mini-nav { left: -177%; }
.header__mini-link { padding: 5% 0 1% 15%; }
.search__icon-search-mini { top: 3%; left: 97.5%; }

#last__items-list { width: 26%; top: 130px; right: 212px; }
}

@media only screen  and (max-width : 1399px) {
.header { height: 120px; }
.header__left_tagline { margin: 3% 0 0 10%; }
.header__left_la-logo { width: 110px; height: 65px; margin: -2% 0 0 5%; background-size: cover; }
.header__main { width: 61%; }
.header__main_tagline { font-size: 50px; margin: 3% 25% 7% 25%; }
.header__rightlogo { width: fit-content; }
.header__right_tagline { margin: 4% 0 0 0; }
.header__right_insta { width: 75px; height: 65px; }
.search { width: 82%; margin: -4% 0 0 3%; }
.search__icon-search { top: 0%; left: 96%; background-size: cover; width: 27px; height: 30px; }
.last__items { margin: -4% 0 0 3%; width: 35px; height: 30px; border-radius: 10px;}
.last__items:before { top: 25%; left: 10%; width: 20px; height: 15px; }
.search input { padding: 0.6% 0 0.6% 2%; font-size: 16px; }
.search__basket { margin: -5% 1% 0 0; width: 60px; height: 42px; }
.search__login { margin: -4% 3% 0 0%; width: 128px; height: 27px; font-size: 16px }
.search__login:before { top: 0%; left: 5%; width: 40px; height: 27px; }
.search__login span { top: 10%; left: 40%; }
.main__menu { padding: 1% 2% 0 2%; }
.main__menu-link { padding: 5px 35px 10px 35px; }
.main__sales_stock { width: 27%; }
.main__sales_stock-link { font-size: 16px; margin: 8% 0 6% 0; padding: 2.5% 0; }
.main__sales-product { width: 290px; height: 180px; margin: 0 0 5% 0; }
.main__sales-product:before { width: 75px; height: 75px; }
.main__sales-product-img {  width: 290px; height: 180px; }
.main__sales-product strong { width: 82px; height: 27px; padding: 0% 0 0 0; top: 15%; right: 5%; }
.main__sales-product:after { width: 96%; left: 1.8%; }
.main__sales-product-name { top: 68.5%; left: 22%; width: 76%; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.main__sales-jerrycan { width: 20px; height: 25px; }
.main__sales-gear { width: 36px; height: 29px; top: 68%; }
.main__sales-wheel { width: 30px; height: 30px; top: 68%; left: 8%; }
.main__sections p { font-size: 16px; padding: 0.9% 0; }
.main__sections-inner { margin: 1.9% 0 0 0; }
.main__sections-inner-link { width: 285px; height: 180px; margin: 0 0 1.7% 0; }
.main__sections-inner-img { width: 285px; height: 180px; }
.main__sections-inner-link:before { width: 274px; height: 40px; left: 2%; }
.main__sections-inner-name { top: 69%; font-size: 18px; }
.main__sections-inner-gear { width: 37px; height: 29px; top: 67.5%; }
.main__sections-inner-jerrycan { width: 20px; height: 30px; top: 67.5%; left: 10%; }
.main__sections-inner-wheels { width: 30px; height: 31px; top: 67%; }
.main__sections-inner-accessories { width: 30px; height: 25px; top: 68%; left: 8%; }
.main__sections-inner-instruments { width: 30px; height: 25px; top: 68%; left: 8%; }
.main__sections-inner-accumulators { width: 30px; height: 25px; top: 68.5%; left: 8%; }
.main__sections-inner-autoglass { width: 35px; height: 25px; top: 71%; left: 8%; }
.main__sections-inner-parts { width: 25px; height: 25px; top: 69%; left: 9%; }
.main__sections-inner-fastening { width: 35px; height: 25px; }
.main__bottom_menu-container { margin: 1% 2% 0% 2%; }
.main__bottom_menu-wrap { margin: 0 0 0.5% 0; }
.main__bottom_menu-wrap ul { margin: 0; }
.main__bottom_menu-wrap li { padding: 0% 0; }
.footer__copyright { font-size: 16px; }

.header__mini { height: 55px; }
.header__mini-leftlogo { width: 14.5%; }
.header__mini-logo { width: 70px; height: 40px; background-size: contain; }
.header__mini-btn { width: 56px; height: 55px; }
.header__mini-btn:hover { width: 56px; height: 55px; }
.header__main-mini { width: 84%; }
.header__mini-nav { width: 320%; left: -199%; }
.header__mini-link { font-size: 16px; padding: 3% 0 2% 15%; }
.header__mini-link:before { width: 5px; height: 20px; }
.header__mini-link:hover:before { width: 5px; height: 20px; }
.search__mini {  width: 100%;  margin: 0.5% 0 0 0.5%; }
.search__mini input { padding: 0.8% 0 0.8% 2%; border-radius: 15px;}
.search__icon-search-mini { top: 4%; left: 97%; width: 32px; height: 35px; }
.last__items-mini { width: 45px; height: 36px; border-radius: 13px; padding: 1%; margin: 0.4% 0 0 3%; }
.last__items-mini:before { top: 27%; left: 18%; width: 22px; height: 17px; }
.search__basket-mini { width: 80px; height: 45px; margin: -0.3% 0 0 1%; }
.search__basket-mini.search__basket:before { top: 4%; }
.search__logout { width: 15%; height: 30px; margin: 0.8% 0 0 1%; border-radius: 15px; }
.search__logout:before { width: 31px; height: 32px; top: 0; left: -32%; }
.search__logout span { padding: 0 0 0 10%; font-size: 16px; left: 29%; }

.login__wrapper { margin: 10% 0 0 30%; }
.registration__wrapper { margin: 10% 0 0 30%; }

#last__items-list { width: 29%; top: 124px; right: 138px; }
#last__items-list:before { top: -45px; left: 45px; width: 34px; border-top-left-radius: 10px; border-top-right-radius: 10px; }

.personal__area-link { font-size: 14px; line-height: 16px; text-align: center; }
}

@media only screen  and (max-width : 1279px) {
.header { height: 90px; }
.header__leftlogo { width: 23%; }
.header__left_tagline { font-size: 30px; }
.header__left_la-logo { width: 80px; height: 47px; margin: -3% 0 0 5%; }
.header__main { width: 57%; }
.header__main_tagline { font-size: 35px; margin: 4% 25% 7% 27%; }
.search { margin: -6% 0 0 3%; }
.search input { padding: 1% 0 1% 2%; font-size: 12px; border-radius: 8px; border: 2px solid #303030;}
.search__icon-search { top: 5%; left: 96%; background-size: contain; width: 24px; height: 24px; }
.last__items { margin: -6% 0 0 3%; width: 29px; height: 25px; border-radius: 8px; border: 2px solid #303030; }
.last__items:before { top: 23%; left: 9%; width: 19px; height: 12px; }
.search__basket { margin: -7% 1% 0 0.5%; width: 46px; height: 34px; }
.search__basket:before { font-size: 10px; top: 0%; left: 22%; }
.search__login { margin: -6% 2% 0 0%; width: 100px; height: 20px; font-size: 14px; border: 2px solid #303030; border-radius: 8px; }
.search__login:before { top: 0%; left: 5%; width: 38px; height: 20px; }
.search__login span { top: -6%;  left: 40%; }
.header__right_tagline { font-size: 30px; }
.header__right_insta { width: 55px; height: 55px; margin: 4% 0 0 13%; }
.main__menu { padding: 0.5% 2% 0 2%; }
.main__menu-link { padding: 3px 25px 5px 25px; font-size: 20px; border-radius: 10px; }
.main__sales_stock { width: 24%; }
.main__sales_stock-link { font-size: 14px; margin: 7% 0 6% 0; padding: 2% 0 1.5% 0; border-radius: 10px; }
.main__sales-product { width: 235px; height: 130px; margin: 0 0 7% 0;}
.main__sales-product-img { width: 235px; height: 130px; border: 2px solid #C92F2F; }
.main__sales-product:before { width: 65px; height: 60px; }
.main__sales-product strong { width: 67px; height: 20px;  padding: 0 0 1% 0; font-size: 14px; }
.main__sales-product:after { width: 97.5%; height: 33px; left: 1.1%; }
.main__sales-product-name { top: 69%; font-size: 12px; }
.main__sales-jerrycan { width: 18px; height: 24px; }
.main__sales-gear { width: 31px; height: 26px; top: 67.5%; }
.main__sales-wheel { width: 25px; height: 25px; top: 67.5%; left: 7.3%; }
.main__sections {  margin: 0 0 0 3%; }
.main__sections p { font-size: 16px; padding: 0.7% 0 0.7% 0; margin: 2% 0 0 0; border-radius: 10px; }
.main__sections-inner-link { width: 230px; height: 135px; }
.main__sections-inner-img { width: 230px; height: 135px; border: 2px solid #000000; }
.main__sections-inner-link:before { width: 224px; left: 1.4%; height: 33px; }
.main__sections-inner-name { top: 68%; font-size: 14px; }
.main__sections-inner-gear { width: 30px; height: 25px; top: 68%; left: 5.5%; }
.main__sections-inner-jerrycan { width: 18px; height: 25px; top: 67.5%; left: 9%;}
.main__sections-inner-wheels { width: 25px; height: 25px; top: 68.5%; }
.main__sections-inner-accessories { width: 25px; height: 22px; }
.main__sections-inner-instruments { width: 25px; height: 23px; top: 68.5%; left: 7.5%; }
.main__sections-inner-accumulators { width: 25px; height: 22px; top: 69%; left: 8%; }
.main__sections-inner-autoglass { width: 30px; height: 20px; top: 72%; left: 7%; }
.main__sections-inner-parts { width: 23px; height: 22px; top: 69%; left: 7%; }
.main__sections-inner-fastening { width: 30px; height: 22px; top: 69%; }
.main__bottom_menu-container:before { height: 5px; }
.main__bottom_menu-wrap p { font-size: 14px; margin-bottom: 3%;}
.main__bottom_menu-link { font-size: 12px; }
.footer__copyright { font-size: 14px; }

.header__mini { height: 42px; }
.header__mini-leftlogo { width: 17.5%; }
.header__mini-logo { width: 50px; height: 30px; background-size: cover; }
.header__mini-btn { width: 50px; height: 42px; }
.header__mini-btn:hover { width: 50px; height: 42px; }
.header__mini-nav { width: 285%; left: -174%; }
.header__mini-link { font-size: 14px; padding: 1% 0 2% 15%; }
.header__mini-link:before { width: 5px; height: 19px; left: 9%; }
.header__mini-link:hover:before { width: 5px; height: 19px; left: 9%; }
.header__main-mini { width: -webkit-fill-available; margin: 0 2% 0 -1%; }
.search__mini { margin: 0 0 0 0; }
.search__mini input { border-radius: 10px; }
.search__icon-search-mini { top: 5%; left: 98%; background-size: contain; width: 25px; height: 27px; }
.last__items-mini { margin: -0.2% 0 0 3%; width: 33px; height: 29px; border-radius: 10px; border: 2px solid #303030; }
.last__items-mini:before { top: 27%; left: 15%; }
.search__basket-mini { margin: -0.7% 0 0 0.5%; width: 53px; height: 35px; }
.search__basket-mini.search__basket:before { top: 0%; }
.search__logout { width: 14%; height: 26px; margin: 0 0 0 1%; border: 2px solid #303030; border-radius: 10px; }
.search__logout:before { width: 28px; height: 30px; top: 0; left: -30%; }
.search__logout span { font-size: 14px; left: 31%; }

#last__items-list { width: 25%; top: 93px; right: 154px; }
#last__items-list:before { top: -36px; left: 37px; width: 28px; border-top-left-radius: 8px; border-top-right-radius: 8px; }
.last__items-header { font-size: 18px; }
.last__items-product { align-items: flex-end; }
.last__items-product-name { font-size: 14px; margin: 0; }
.last__items-product-price, .last__items-tobasket { border-radius: 10px; font-size: 12px; }

.personal__cabinet-menu {  width: 100%; }
}

@media only screen  and (max-width : 1023px) {	
.header__left_tagline { font-size: 28px; }
.header__main_tagline { font-size: 34px; }
.search { margin: -6% 0 0 3.5%; }
.header__right_tagline { font-size: 28px; }
.header__right_insta { margin: 4% 0 0 8%; }
.main__menu { padding: 1% 2% 0 2%; margin: 0 0 0 0; }
.main__menu-link { padding: 5px 25px 5px 25px; font-size: 18px; }
.main__sales_stock-link { letter-spacing: 0px; } 
.main__sales-product { width: 220px; margin: 0 0 8% 0; }
.main__sales-product-img { width: 220px; }
.main__sales-product-name { top: 67%; font-size: 11px; }
.main__sections p { letter-spacing: 0px; } 
.main__sections-inner-link { width: 220px; }
.main__sections-inner-img { width: 220px; }
.main__sections-inner-link:before { width: 214px; left: 1.6%; }
.main__sections-inner-prod:before { width: 214px; left: 1.6%; }
.main__sections-inner-name { top: 67.5%; }
.main__sections-inner-gear { top: 67%; }
.main__sections-inner-jerrycan { width: 15px; height: 23px; top: 67%; }
.main__sections-inner-wheels { top: 66.5%; }
.main__sections-inner-accessories { top: 67.5%; left: 7.5%; }
.main__sections-inner-instruments { width: 23px; height: 20px; top: 68%; left: 7.5%; }
.main__sections-inner-accumulators { width: 22px; height: 20px; top: 68%; left: 8.5%; }
.main__sections-inner-autoglass { top: 71%; }
.main__sections-inner-parts { top: 68%; }
.main__sections-inner-fastening { top: 68%; left: 5%; }
.main__bottom_menu-wrap p { margin-top: 7%; }
.main__bottom_menu-wrap li { margin: -1% 0; }
.main__bottom_menu-link { font-size: 12px; }
.footer__copyright { font-size: 12px; }

.header__mini-nav { left: -157%; }
.search__mini { margin: 0% 0 0 1%; }
.search__icon-search-mini { top: 3%; left: 97%; }

.login__wrapper { margin: 10% 0 0 27%; } 
.registration__wrapper { margin: 10% 0 0 27%; } 

#last__items-list { width: 32%; top: 12%; right: 9%; }
#last__items-list:before { top: -38px; left: 38px; width: 28px; }
.last__items-product-name { margin: 1em; }

.personal__area-nav { flex-basis: 16%; }
.personal__area-link { font-size: 16px; line-height: 24px; }
.personal__cabinet { flex-basis: 84%; }
.personal__cabinet-wrapper p { margin: 4% 0; }
}

@media only screen  and (max-width : 959px) {
.header__leftlogo { width: 23%; }
.header__left_tagline { font-size: 23px; }
.header__main { width: 55%; }
.header__main_tagline { font-size: 25px; }
.search input { font-size: 10px; padding: 1.5% 0 2% 2%; font-size: 12px; }
.search__icon-search { top: 7%; left: 92%; width: 25px; height: 24px; }
.last__items { width: 30px; }
.search__basket { width: 50px; height: 35px; }
.search__login { font-size: 12px; }
.search__login span { top: -6%; }
.header__right_tagline { font-size: 23px; }
.header__right_insta { margin: 6% 0 0 8%; }
.main__menu-list { display: flex; flex-direction: column; }
.main__menu-link { display: flex; justify-content: center; padding: 0.5% 0; margin: 0 0 0.5% 0;}
.main__sales { flex-direction: column; } 
.main__sales_stock { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; width: -webkit-fill-available; }
.main__sales_stock-link { width: -webkit-fill-available; font-size: 16px; margin: 0 0 1% 0; padding: 1% 0 0.5% 0; }
.main__sales-product { width: 235px; height: 135px; margin: 0 0 0% 0; }
.main__sales-product-img { width: 235px; height: 135px; }
.main__sales-product-name { font-size: 12px; top: 68%; }
.main__sections { margin: 1% 0 2% 0; }
.main__sections-inner { margin: 1% 0 0 0; }
.main__sections-inner-link { width: 235px; }
.main__sections-inner-img { width: 235px; }
.main__sections-inner-link:before { width: 230px; left: 1.4%; }
.main__sections-inner-name { top: 68%; }
.main__sections-inner-gear { top: 68%; left: 6%; }
.main__sections-inner-jerrycan { width: 20px; height: 25px; top: 67.5%; }
.main__sections-inner-wheels { width: 27px; height: 27px; top: 67.5%; left: 7%; }
.main__sections-inner-accessories { top: 68%; }
.main__sections-inner-instruments { top: 69%; }
.main__sections-inner-accumulators { width: 25px; height: 20px; top: 70%; left: 7.5%; }
.main__sections-inner-autoglass { width: 30px; height: 25px; top: 70%; }
.main__sections-inner-parts { width: 25px; height: 25px; }
.main__sections-inner-fastening { width: 30px; height: 25px; top: 67%; }

.header__mini-leftlogo { width: 21%; }
.header__mini-nav { left: -136%; }
.header__main-mini { width: -webkit-fill-available; }
.search__mini input { font-size: 12px; padding: 1.2% 0 1.7% 2%; }
.search__icon-search-mini { top: 3%; left: 95%; width: 25px; height: 27px; }
.last__items-mini { width: 36px; }
.last__items-mini:before { top: 27%; left: 15%; }
.search__basket-mini { margin: 0% 0 0 0.5%; width: 60px; height: 42px; }
.search__logout { width: 20%; height: 25px; }
.search__logout:before {height: 26px; }
.search__logout span { left: 28%; }

.login__wrapper { margin: 10% 0 0 20%; }
.registration__wrapper { margin: 10% 0 0 20%; }

#last__items-list { width: 39%; top: 8%; right: 8.8%; }
#last__items-list:before { top: -43px; left: 46px; width: 28px; }

.personal__area-nav { flex-basis: 20%; }
.personal__cabinet { flex-basis: 80%; }
}

@media only screen  and (width : 800px) { 
#last__items-list { right: 8%; }
#last__items-list:before { right: 91px; }

.personal__area-nav { flex-basis: 18%; }
.personal__cabinet { flex-basis: 82%; }
}

@media only screen  and (max-width : 767px) {	
.header__left_tagline { font-size: 19px; }
.header__left_la-logo { width: 68px; height: 40px; margin: -5% 0 0 5%; }
.header__main_tagline { font-size: 21px;    margin: 7% 25% 7% 27%; }
.search input { padding: 2.5% 0 2% 2%; font-size: 12px; }
.search__icon-search { top: 5%; left: 89%; height: 23px;}
.last__items:before { left: 8.5%; }
.search__basket { width: 55px; height: 35px; margin: -6% 1% 0 0.5%; }
.header__right_tagline { font-size: 19px; }
.header__right_insta { margin: 5% 0 0 8%; width: 55px; height: 50px; }
.main__sales_stock-link { padding: 0.8% 0 0.5% 0; }
.main__sales-product { margin: 0 0 2% 0; width: 290px; height: 180px; }
.main__sales-product-img { width: 290px; height: 180px; }
.main__sales-product:last-child { margin: 0 auto 1% auto; }
.main__sales-product:after { width: 98%; height: 41px; left: 1%; }
.main__sales-product strong { padding: 1% 0.5% 2% 0.5%; }
.main__sales-product-name { font-size: 14px; top: 69.5%; }
.main__sales-jerrycan { width: 25px; height: 30px; top: 68%; left: 8.5%; }
.main__sales-gear { width: 36px; height: 29px; top: 68%; }
.main__sales-wheel { width: 30px; height: 30px; top: 68%; left: 7.5%; }
.main__sections p { padding: 1.1% 0 1% 0; }
.main__sections-inner-link { width: 290px; height: 180px; }
.main__sections-inner-img { width: 290px; height: 180px; }
.main__sections-inner-link:last-child { margin: 0 auto; }
.main__sections-inner-link:before { width: 98%; left: 1%; height: 41px; }
.main__sections-inner-name { top: 69%; }
.main__sections-inner-gear { width: 35px; height: 30px; top: 68%; left: 6.5%; }
.main__sections-inner-jerrycan { width: 25px; height: 30px; top: 67.5%; left: 8.5%; }
.main__sections-inner-wheels { width: 30px; height: 30px; top: 67.5%; left: 7%; }
.main__sections-inner-accessories { width: 30px; height: 28px; top: 67%; left: 7.5%; }
.main__sections-inner-instruments { width: 30px; height: 30px; top: 67%; left: 7.5%; }
.main__sections-inner-accumulators { width: 30px; height: 25px; top: 69%; left: 7.5%; }
.main__sections-inner-autoglass { width: 35px; height: 30px; }
.main__sections-inner-parts { width: 30px; height: 30px; top: 67%; }
.main__sections-inner-fastening { width: 35px; height: 30px; left: 5.5%; top: 68%; }
.main__bottom_menu-container { flex-wrap: wrap; }
.main__bottom_menu-wrap p { font-size: 14px; }
.main__bottom_menu-wrap li { margin: -2% 0; }
.main__bottom_menu-link { font-size: 12px; }

.login__wrapper { margin: 10% 0 0 14%; }
.registration__wrapper{ margin: 10% 0 0 14%; }

#last__items-list { width: 47%; top: 5%; right: 4%; }
#last__items-list:before { top: -37px; left: 42px; width: 27px; }

.personal__area-nav { flex-basis: 25%; }
.personal__cabinet { flex-basis: 75%; }
}

@media only screen  and (max-width : 639px) {
.header { display: flex; flex-direction: column; align-items: center; height: 175px; }
.header__leftlogo, .header__main, .header__rightlogo { width: inherit; }
.header__leftlogo { flex-direction: row; justify-content: center; align-items: center; margin: 1% 0 0 0; }
.header__left_tagline { margin: 0; font-size: 24px; }
.header__left_la-logo { margin: 0 0 0 3%; }
.header__main { margin: 2% 0 0 0; }
.header__main_tagline { margin: 0% auto 1% auto; }
.form__wrapper { margin: 0 2%; }
.search { margin: 0; width: 80%; }
.search__icon-search { top: 6%; left: 92%; height: 26px; }
.last__items { width: 35px; height: 29px; margin: 0 0 0 3%; }
.last__items:before { top: 26%; left: 15%; }
.search__basket { width: 55px; height: 40px; margin: -1% 0 0 1%; }
.search__login { width: 100px; height: 25px; font-size: 12px; margin: 0 0 0 1%; }
.search__login:before { top: 0%; left: 7%; width: 25px; height: 25px; }
.search__login span { top: 1%; left: 45%; }
.header__rightlogo { flex-direction: row; justify-content: center; align-items: center; margin: 0% 0 0 0; }
.header__right_tagline { margin: 0; font-size: 24px; }
.header__right_insta { margin: 0.5% 0 0 5%; }
.main__sales_stock { flex-direction: column; align-items: center; }	
.main__sales_stock-link { margin: 0 0 2% 0; }
.main__sections p { margin: 2% 0 1% 0; }
.main__sections-inner { flex-direction: column; align-items: center; }
.main__bottom_menu-wrap { margin: 0 0 2% 0; flex-basis: 35%; }
.footer__copyright { display: flex; flex-direction: column; }

.header__mini { height: 40px; }
.header__mini-leftlogo { width: 32%; }
.header__mini-logo { width: 52px; height: 29px; }
.header__mini-btn:hover { height: 40px; }
.header__mini-nav { width: 240%; }
.header__main-mini { margin: 0 2% 0 0; }
.header__mini-link:before { height: 15px; }
.header__mini-link:hover:before { height: 15px; }
.header__mini-link { font-size: 12px; }
.form__wrapper-mini	{ margin: 0 0%; } 
.search__icon-search-mini { left: 89%; height: 23px; }
.last__items-mini { width: 35px; height: 25px; }
.last__items-mini:before { top: 24%; left: 10%; }
.search__basket-mini { width: 59px; height: 40px; margin: 0% 0 0 1%; }
.search__logout { width: 32%; height: 23px;  }
.search__logout:before { top: -3%; left: -30%; width: 25px; height: 26px; }
.search__logout span { left: 31%; font-size: 12px; }

.login__wrapper { margin: 23% 0 0 0%; }
.page__login-close { top: -10%; right: 0%; }

.registration__wrapper { margin: 25% 0 0 3%; }
.page__registration-close { right: -1.5%; }

#last__items-list { width: 63%; top: 4%; right: 17%; }
#last__items-list:before { top: -37px; left: auto; right: 59px; width: 33px; }

.personal__area-nav { flex-basis: 22%; }
.personal__area-link { font-size: 14px; line-height: 16px; }
.personal__cabinet { flex-basis: 78%; }
.personal__cabinet-img { height: 205px; }
.personal__cabinet_icon { width: 11%; }
}

@media only screen  and (width : 600px) { 
	.search__icon-search { top: 7%; left: 93%; width: 30px; height: 30px; }
	#last__items-list:before { top: -35px; right: 52px; width: 36px; }
	.personal__cabinet-name-car { margin: 44% 0 0 24%; }
}

@media only screen  and (max-width : 479px) {
.header { height: 170px; }	
.search__icon-search { left: 91%; height: 24px; }
.search input { padding: 3% 0 2.5% 2%; font-size: 12px; }
.search__icon-search { left: 90%; height: 26px; }
.main__bottom_menu-wrap { flex-basis: 40%; }

.header__mini-leftlogo { margin: 0 0 0 2%; width: 31%; }
.header__mini-logo { width: 53px; }
.header__mini-btn { margin: 0 8% 0 2%; }
.search__mini input { font-size: 10px; padding: 4.1% 0 3.6% 2%; }
.search__icon-search-mini { top: 10%; left: 87%; height: 22px; }
.last__items-mini { width: 35px; height: 25px; }
.search__basket-mini { width: 62px; height: 36px; }
.search__logout { width: 40%; height: 25px; }
.search__logout:before { top: -1%; left: -28%; width: 25px; height: 26px; }

.login__wrapper-top { font-size: 20px; }
.form__login input[type="checkbox"] ~ label:before { left: 22%; }
.form__login input[type="checkbox"] ~ label:hover:before { left: 22%; }
.form__login_forget-passwd { margin: 0 0 0 26%; }

.registration__wrapper { margin: 25% 0 0 0%; }
.registration__wrapper p { font-size: 20px; }
.page__registration-close { right: 0%; }
.form__registration-login { display: flex; flex-direction: column; align-items: center; margin: 0 0 3% 0;}
.form__registration-login input { width: 96%; }
#form__registration-send-code { margin: 3% 0 3% 18%; }
.form__registration input[type="checkbox"] ~ label { margin: 0 0 0 7%; }
.form__registration input[type="checkbox"] ~ label:before { left: -7%; }
.form__registration input[type="checkbox"] ~ label:hover:before { left: -7%; }

#last__items-list { width: 72%; top: 4%; right: 13%; }
#last__items-list:before { top: -37px; left: auto; right: 77px; width: 33px; }

.personal__area-nav { flex-basis: 25%; }
.personal__area-link {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.personal__cabinet { flex-basis: 75%; }
.personal__cabinet-wrapper p { font-size: 20px; }
.personal__cabinet-img { height: 170px; }
.personal__cabinet-name { font-size: 24px; }
.personal__cabinet-name-basket { margin: 42.5% 0 0 41%; }
.personal__cabinet-name-car { margin: 42.5%0 0 29%; }
.personal__cabinet-name-cogwheel { margin: 42.5% 0 0 36%; }
.personal__cabinet-name-magnifier, 
.personal__cabinet-name-setting { margin: 42.5% 0 0 36%; }

.personal__cabinet-img { height: 130px; }
.personal__cabinet-name { font-size: 20px; }
.personal__cabinet-name-basket { margin: 41% 0 0 41%; }
.personal__cabinet-name-car { margin: 41% 0 0 29%; }
.personal__cabinet-name-cogwheel { margin: 41% 0 0 36%; }
.personal__cabinet-name-magnifier, 
.personal__cabinet-name-setting {
    margin: 41% 0 0 36%; }
}

@media only screen  and (max-width : 415px) {	
.search input { padding: 3.1% 0 2.1% 2%; }
.search__icon-search { top: 3%; left: 88%; height: 27px; }
.main__sections p { font-size: 14px; }
.main__bottom_menu-wrap { flex-basis: 44%; }

.header__mini-leftlogo { width: 26%; }
.header__mini-btn { width: 38px; height: 40px; }
.header__mini-btn:hover { width: 38px; height: 40px; }
.header__mini-nav { width: 317%; left: -165%; }
.search__mini input { font-size: 8px; padding: 7% 0 6% 2%; }
.search__icon-search-mini { left: 82%; height: 25px; }
.last__items-mini { width: 41px; height: 28px; }
.last__items-mini:before { top: 28%; left: 11%; width: 16px; height: 12px; }
.search__basket-mini { width: 66px; height: 34px; }
.search__logout { width: 47%; }

.login__wrapper-top { font-size: 16px; }
.form__login input[type="checkbox"] ~ label:before { left: 16%; }
.form__login input[type="checkbox"] ~ label:hover:before { left: 16%; }

#last__items-list { width: 80%; top: 3.9%; right: 10.5%; }
#last__items-list:before { top: -34px; right: 88px; width: 32px; }

.personal__cabinet-img { height: 130px; }
.personal__cabinet-name { font-size: 20px; }
.personal__cabinet-name-basket { margin: 41% 0 0 41%; }
.personal__cabinet-name-car { margin: 41% 0 0 29%; }
.personal__cabinet-name-cogwheel { margin: 41% 0 0 36%; }
.personal__cabinet-name-magnifier, 
.personal__cabinet-name-setting {
    margin: 41% 0 0 36%; }
}

@media only screen  and (width : 414px) { 
	#last__items-list { right: 10%; }
	#last__items-list:before { right: 91px; }
}

@media only screen  and (max-width : 376px) {	
.header { height: 165px; }
.search input { padding: 3.3% 0 3.3% 2%; }
.search__icon-search { top: 4%; left: 87%; }
.last__items { margin: -1px 0 0 3%; }
.search__basket { height: 35px; }	
.main__bottom_menu-wrap { flex-basis: 47%; }

.search__mini input { padding: 8.5% 0 8% 2%; font-size: 7px;}
.search__icon-search-mini { top: 6%; left: 79%; height: 27px; }
.last__items-mini:before { top: 30%; left: 13%; }
.search__logout span { left: 33%; font-size: 10px; }

.login__wrapper-top { font-size: 14px; }
.form__login_forget-passwd { margin: 0 0 0 21%; }

.registration__wrapper p { font-size: 16px; }
.form__registration input[type="checkbox"] ~ label { margin: 0 0 0 8%; }
.form__registration input[type="checkbox"] ~ label:before { left: -9%; }
.form__registration input[type="checkbox"] ~ label:hover:before { left: -9%; }

#last__items-list { width: 83%; top: 3.7%; right: 8%; }
#last__items-list:before { top: -32px; right: 94px; }

.personal__cabinet-wrapper p {  font-size: 16px; }
.personal__cabinet-name { font-size: 16px; }
}

@media only screen  and (width : 375px) { 
	#last__items-list:before { right: 96px; }
}

@media only screen  and (max-width : 359px) {	
.header { height: 165px; }
.header__right_insta { margin: 1% 0 0 5%; }
.search input { font-size: 10px; padding: 4% 0 3.3% 2%;}
.search__icon-search { left: 85%; height: 24px; }
.last__items { height: 26px; margin: 0 0 0 3%; }
.last__items:before { left: 13%; }
.search__basket { width: 60px; height: 35px; }
.search__login { height: 23px; margin: 1px 0 0 1%; }
.search__login:before { left: 5%; width: 23px; height: 23px; }
.main__bottom_menu-container { flex-direction: column; margin: 1% 2% 3% 2%; }
.main__bottom_menu-wrap { flex-basis: unset; }

.header__mini-logo { width: 37px; height: 20px; }
.header__mini-nav { width: 325%; left: -119%; }
.search__mini input { padding: 8% 0 5.5% 2%; font-size: 8px; }
.search__icon-search-mini { display: none; }
.last__items-mini { height: 25px; }
.search__basket-mini { width: 61px; height: 32px; }
.search__basket-mini.search__basket:before { top: -6%; }
.search__logout { height: 21px; }
.search__logout:before { left: -26%; height: 22px; }
.search__logout span { left: 35%; font-size: 8px; }

.login__la-logo { width: 50px; height: 29px; }
.login__insta-logo { width: 50px; height: 44px; }
.form__login input[type="checkbox"] ~ label:before { left: 12%; }
.form__login input[type="checkbox"] ~ label:hover:before { left: 12%; }
.form__login_forget-passwd { margin: 0 0 0 17%; }

.form__registration input { font-size: 14px; }

#last__items-list { width: 94%; top: 3.5%; right: 3%; }
#last__items-list:before { top: -32px; right: 108px; width: 30px; }



.personal__area { display: flex; flex-direction: column; }
.personal__area-link { padding: 1%; }
}

@media only screen  and (max-width : 319px) {	

}