html, body {
	position: relative;
	box-sizing: border-box;
	min-height: 100%;
    min-width: 100%;   
}	
a {
	color: #000000;
	text-decoration: none;
}
button:hover,
a:hover {
	opacity: 0.7;
}
#wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	word-break: break-word;
	text-rendering: auto;
}
.header {
	display: flex;
	align-items: stretch;
	background-image: url("../img/header_bg.jpg");
	background-position: center center;
	width: 100%;
    height: 160px;
}
.header__leftlogo {
	width: 20%;	
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
.header__left_tagline {
	font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    margin: 4% 0 0 11%;
}
.header__left_la-logo {
	display: flex;
	background-image: url("../img/header_la_logo.png");
	background-repeat: no-repeat;
	width: 155px;
    height: 95px;
    margin: 0 0 0 6%;
}
.header__menu-btn {
	display: none;
}
.header__main {
	width: 60%;
	display: flex;
	flex-direction: column;
    justify-content: center;
}
.header__main_tagline {
	font-size: 74px;
    font-weight: bolder;
    font-style: italic;
    margin: 4% 25% 6% 25%;
}
.form__wrapper {
	display: flex;
    flex-direction: row;
    align-items: center;
}
.search {
	width: 65%;
	display: flex;
	flex-direction: row;
	margin: -3% 3% 0 2%;
}
.search fieldset {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    position: relative;
}
.search__label {
	position: relative;
}
.search input {
	border: 3px solid #303030;
	border-radius: 20px;
	padding: 1% 0 1% 2%;
	font-size: 24px;
	font-weight: lighter;
	width: 100%;
}
.search input:hover {
	background-color: #F2F2F2;
    font-style: italic;
}
.search input:focus {
    background-color: #FFFFF0;
}
.search__icon-search {
    position: absolute;
    top: 0%;
    left: 95%;
    width: 45px;
    height: 45px;
    background: url(../img/border_zoom.png) no-repeat;    
    border: none;
    cursor: pointer;
}
/*===Последние просмотры============================================================*/
.last__items {
	position: relative;
    width: 48px;
    height: 48px;
	border: 3px solid #303030;
	border-radius: 15px;
	background-color: #FFFFFF;
	margin: -3% 0 0 0;
	z-index: 300;
}
.last__items:before {
	content: "";
	position: absolute;
	background: url(../img/eye.png) no-repeat;
    background-size: contain;
    background-color: #FFFFFF;
    top: 23%;
    left: 9%;
    width: 35px;
    height: 25px;
} 
.last__items:hover {
	cursor: pointer;
	/*opacity: 1;*/
}
#last__items-list {
	display: none;
	content: "";
	position: absolute;
	width: 19%;
    top: 172px;
    right: 381px;
	background-color: #303030;
	border-radius: 20px;  
	z-index: 200;
}
#last__items-list:before {
    content: "";
    position: absolute;
    width: 52px;
    height: 70px;
    background-color: #303030;
    top: -67px;
    left: 17.5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.last__items-list-wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0;
	padding: 0 2%;
}
.last__items-header {
	color: #ffffff;
	font-size: 24px;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	margin: 3% 0;
}
.last__items-product {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	background-color: #FDBD03;
	border-radius: 15px;
	margin: 0 0 3% 0;
}
.last__items-foto-mini {
	border: none;
	border-radius: 15px;
	margin: 1%;
	max-height: fit-content;
}
.last__items-product-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
    margin: 1% 1%;
}
.last__items-product-name {
	color: #000000;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    text-overflow: ellipsis; 
}
.last__items-product-price,
.last__items-tobasket {
	background-color: #C92F2F;
	border: none;
	border-radius: 15px;
	color: #ffffff;
	font-size: 16px;
	font-weight: lighter;
	font-style: italic;
	padding: 3px 5px;
}
.last__items-tobasket:hover {
	cursor: pointer;
}
/*==================================================================================*/
.search__basket {
    width: 65px;
    height: 60px;
    background: url(../img/basket_empty.png) no-repeat;
    background-size: contain;
    margin: -3.9% 0 0 1%;
    position: relative;
}
.search__basket:before {
	content: "3";
	position: absolute;
    top: 11%;
    left: 23%;
    font-size: 14px;
    font-style: italic;
}
.search__login {
	position: relative;
	width: 155px;
    height: 40px;
	background-color: #FFFFFF;
	border: 3px solid #303030;
	border-radius: 20px;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: -3% 0 0 1%;
	cursor: pointer;
}
.search__login:before {
	content: "";
    position: absolute;
    top: -3%;
    left: 4%;
    width: 40px;
    height: 41px;
    background: url(../img/border_login.png) no-repeat;
    background-size: contain;    
}
.search__login span {
	position: absolute;
	left: 37%;
}
.header__rightlogo {
	width: 20%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.header__right_tagline {
	font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    margin: 5% 8% 0 0;
}
.header__right_insta {
	display: flex;
	background-image: url("../img/header_insta.png");
	background-repeat: no-repeat;
	width: 105px;
    height: 95px;
    margin: 5% 0 0 0;
}
.main__inner {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #468899;
}
.main__menu {
	padding: 1.3% 2% 0 2%;
}
.main__menu-list {
	margin: 0.5% 0 0.5% 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.main__menu-link {
	text-transform: capitalize;
	font-size: 32px;
	color: #FDBD03;
	background-color: #303030;
	border-radius: 20px;
	padding: 5px 60px 10px 60px;
	text-align: center;
	white-space: nowrap;
}
.main__menu-link:hover {
	color: #000000;
	background-color: #FDBD03;
	opacity: 1;
}
.main__menu-link:focus {
	opacity: 0.7;
}
.main__menu-sales {
	width: 20%;
	display: flex;
}
.main__sales {
	padding: 0 2% 0 2%;
	display: flex;
}
.main__sales_stock {
	width: 27%;
	display: flex;
	flex-direction: column;
}
.main__sales_stock-link {
	text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
    background-color: #C92F2F;
    border-radius: 20px;
    padding: 4% 0;
    margin: 10% 0 0 0;
}
.main__sales-product {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 440px;
	height: 260px;
	margin: 6% 0 0 0;
	border-radius: 20px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.main__sales-product:before {
	content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: url(../img/sale.png) no-repeat;
}
.main__sales-product-img {
	width: 440px;
    height: 260px;
    box-sizing: border-box;
    border: 5px solid #C92F2F;
    border-radius: 20px;
}
.main__sales-product strong {
	content: "";
    position: absolute;
    width: 125px;
    height: 35px;
	top: 15%;
    right: 5%;
    background-color: #C92F2F;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
    text-align: center;
    padding: 2% 0 0 0;
}
.main__sales-product:after {
	content: "";
	position: absolute;
    width: 429px;
    height: 62px;
    top: 65%;
    left: 1.3%;
	background: url(../img/stock_line.png) no-repeat;
	background-size: contain;
	z-index: 1
} 
.main__sales-product-name {
	position: absolute;
    top: 72%;
    left: 23%;
    z-index: 100;
    margin: 0;
}
.main__sales-jerrycan {
    content: "";
    position: absolute;
    width: 7%;
    height: 40px;
    top: 69%;
    left: 9.5%;
    z-index: 100;
}
.main__sales-gear {
	content: "";
    position: absolute;
    width: 52px;
    height: 44px;
    top: 68%;
    left: 7%;
    z-index: 100;
}
.main__sales-wheel {
	content: "";
    position: absolute;
    width: 45px;
    height: 46px;
    top: 68%;
    left: 7.5%;
    z-index: 100;
}
.main__sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 3.5%;
}
.main__sections p {
	text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FDBD03;
    text-align: center;
    background-color: #303030;
    border-radius: 20px;
    padding: 1.3% 0;
    margin: 3.3% 0 0 0;
    width: 100%;
}
.main__sections-inner {
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    margin: 2.2% 0 0 0;
}

.main__sections-inner-link {
	display: flex;
    position: relative;
    width: 430px;
	height: 260px;
	margin: 0 0 2.1% 0;
	border-radius: 20px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.main__sections-inner-link:hover { 
	color: #FFFFFF;
	opacity: 1;
	filter: none;
}
.main__sections-inner-link:before{
	content: "";
	position: absolute;
    width: 418px;
    height: 60px;
    top: 65%;
    left: 1.4%;
	background: url(../img/stock_line.png) no-repeat;
	background-size: contain;
	z-index: 1
} 
.main__sections-inner-img {
	width: 430px;
    height: 260px;
    box-sizing: border-box;
    border: 5px solid #000000;
    border-radius: 20px;
}
.main__sections-inner-name {
	text-transform: uppercase;
    font-size: 26px;
    position: absolute;
    top: 72%;
    left: 30%;
    z-index: 100;
}
.main__sections-inner-gear {
	content: "";
    position: absolute;
    width: 52px;
    height: 44px;
    top: 68%;
    left: 6.5%;
    z-index: 100;
}
.main__sections-inner-jerrycan {
	content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    top: 69%;
    left: 9%;
    z-index: 100;
}
.main__sections-inner-wheels {
	content: "";
    position: absolute;
    width: 45px;
    height: 46px;
    top: 67.5%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-accessories {
	content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    top: 68%;
    left: 7.3%;
    z-index: 100;
}
.main__sections-inner-instruments {
	content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    top: 69%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-accumulators {
	content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    top: 68%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-autoglass {
	content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    top: 71%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-parts {
	content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 69%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-fastening {
	content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    top: 69%;
    left: 6%;
    z-index: 100;
}
.main__bottom_menu {
	background-image: linear-gradient(to bottom, #468899, #297996, #096992, #00588c, #0d4783);
}
.main__bottom_menu-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1.4% 2%;
	position: relative;
}
.main__bottom_menu-container:before {
	content: "";
	position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
	background: url(../img/bottom_line.png) no-repeat;
	background-size: cover;
}
.main__bottom_menu-wrap {
	margin: 0 0 0 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.main__bottom_menu-wrap p {
	font-size: 20px;
}
.main__bottom_menu-wrap ul {
	margin: 3% 0 0 0;
	padding: 0;
	list-style-type: none;
}
.main__bottom_menu-wrap li{
    padding: 2% 0;
}
.main__bottom_menu-link {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 16px;
}
.main__bottom_menu-link:hover {
	text-decoration: underline;
}
.footer {
	width: 100%;
	display: flex;
	background-color: #FDBD03;		
}
.footer__copyright {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	padding: 1%;
	font-size: 24px;
	font-weight: lighter;
	color: #303030;
}
.footer__copyright span { display: flex; }
.footer__copyright span:first-child {
	text-transform: uppercase;
	padding: 0 1% 0 0;
}
/*==================================================================================*/
/*header mini */

.header__mini {
	display: flex;
}
#header__hide {
	display: flex;
}
#header__mini-show {
	display: none;
	box-sizing: border-box;
	position: fixed;
	z-index: 999;
}
.header__mini {
	width: 100%;
	display: flex;
	background-color: #FDBD03;	
	height: 75px;
}
.header__mini-leftlogo {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 12.5%;
}
.header__mini-logo {
	background-image: url("../img/header_la_logo_small.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 95px;
    height: 55px;	
}
/*===Выпадающее меню================================================================*/
.header__mini-btn {
	background: transparent url("../img/btn_menu.png") no-repeat 50% 60%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 80px;
    height: 75px;	
    border: none;
    margin: 0 0 0 2%;
    position: relative;
}
.header__mini-btn:hover {
	background: transparent url("../img/btn_menu_hover.png") no-repeat 50% 60%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 80px;
    height: 75px;	
    border: none;
    opacity: 1;
    cursor: pointer;
}
.header__mini-btn:hover > .header__mini-nav {
	display: flex;
	flex-direction: column;
	z-index: 200;
	cursor: default;
}
.header__mini-nav {
	display: none;
	position: absolute;
	background-color: #303030;
	width: 332%;
	top: 100%;
	left: -197%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.header__mini-ul {
	margin: 0;
	padding: 0;
}
.header__mini-li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.header__mini-li:last-child {  margin: 0 0 2% 0; }
.header__mini-link {
	color: #FFFFFF;
	font-size: 24px;
	padding: 3% 0 4% 15%;
	display: flex;
	position: relative;
}
.header__mini-link:before {
	content: "";
	position: absolute;
    width: 10px;
    height: 30px;
    top: 20%;
    left: 10%;
    background: url("../img/menu_marker.png") no-repeat;
    background-size: contain;
}
.header__mini-link:hover:before {
	content: "";
	position: absolute;
    width: 10px;
    height: 30px;
    top: 20%;
    left: 10%;
    background: url("../img/menu_marker_hover.png") no-repeat;
    background-size: contain;
}
.header__mini-link:hover {
	background-color: #404040;
	color: #FDBD03;
	opacity: 1;
}
#header__mini-link-last:hover {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.header__main-mini {
	width: 84%;
}
/*==================================================================================*/
.form__wrapper-mini {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.search__mini {
	width: 130%;
	margin: 0.5% 0 0 0.9%;
}
.search__mini input {
	padding: 0.7% 0 0.7% 1%;
}
.search__icon-search-mini {
	top: 4%;
    left: 97%;
    width: 47px;
    height: 47px;
}
.last__items-mini {
    width: 65px;
    height: 51px;
    margin: 0.5% 0 0 2.5%;
}
.last__items-mini:before {
    top: 27%;
    left: 8%;
    width: 35px;
    height: 25px;
}
.search__basket-mini {
    width: 111px;
    height: 63px;
    background: url("../img/basket_empty.png") no-repeat;
    background-size: contain;
    margin: 0 0 0 1%;
}
.search__basket-mini:before {
    content: "3";
    position: absolute;
    top: 13%;
    left: 27%;
}
.search__logout {   
	position: relative;
	width: 18%;
	height: 45px;
    background-color: #FFFFFF;
    border: 3px solid #303030;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6% -2% 0 1%;
    cursor: pointer;
}
.search__logout:before {
	content: "";
    position: absolute;
    top: 1%;
    right: 33%;
    width: 45px;
    height: 47px;
    background: url("../img/border_login.png") no-repeat;
    background-size: contain;
    position: relative;
}
.search__logout span {
    position: absolute;
    left: 34%;
    font-size: 24px;
}
/*===Форма логин====================================================================*/
#page__login {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	background: url("../img/background.png") no-repeat;
	background-size: cover;
	z-index: 400;
}
.login__wrapper {
    position: fixed;
    margin: 10% 0 0 35%;
    background-color: #ffffff;
    height: fit-content;
    border: 5px solid #303030;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.page__login-close {
	content: "";
	position: absolute;	
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	background-size: cover;
    top: -8%;
    right: -6%;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.login__wrapper-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    border-radius: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: lighter;
    width: 69%;
    margin: 2% 0;
    padding: 1% 1%;
}
.login__wrapper-top p {
	padding: 4.5% 0;
    margin: 0;
}
.login__la-logo {
	display: flex;
	background-image: url("../img/login_la_logo.png");
	background-repeat: no-repeat;
	width: 58px;
    height: 35px;
    background-size: contain;
}
.login__insta-logo {
	display: flex;
	background-image: url("../img/login_ig_logo.png");
	background-repeat: no-repeat;
	width: 59px;
    height: 52px;
    background-size: contain;
}
.form__login {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.form__login fieldset {
	border: none;	
	margin: 0;
    padding: 0;
}
.form__login-legend {
	text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 4% 0;
}
.form__login input[type="email"],  input[type="password"] {
	border: 2px solid #303030;
	border-radius: 10px;
	width: 97%;
    margin: 0 0 5% 0;
    padding: 1% 0 1% 3%;
    font-weight: lighter;
}
.form__login input:hover {
	background-color: #F2F2F2;
    color: #000000;
}
.form__login input:focus { 
	background-color: rgb(250, 255, 189);
	border-color: #80bdff;
}
.form__login input[type="checkbox"] {
	display: none;
}
.form__login input[type="checkbox"] ~ label {
	position: relative;
	display: flex;
	justify-content: center;
}
.form__login input[type="checkbox"] ~ label:before {
	content: "";
	position: absolute;
	background: url("../img/chkbox.png") no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
    left: 25%;
    top: 9%;
}
.form__login input[type="checkbox"] ~ label:hover:before {
	cursor: pointer;
	opacity: 0.7;
}
.form__login input[type="checkbox"]:checked ~ label:before {
	content: "";
	position: absolute;
	background: url("../img/chkbox_marked.png") no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
}
.form__login_forget-passwd {
	color: red;
	display: initial;
	margin: 0 0 0 28%;
}
.form__login-submit {
	color: #303030;
	background-color: #FDBD03;
	border: none;
	border-radius: 10px;
	text-align: center;
	white-space: nowrap;
	display: flex;
	margin: 3% auto 3% auto;
	padding: 3% 5%;
}
#form__login-reg {
	color: #303030;
	background-color: #FDBD03;
	border: none;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto 3% auto;
	padding: 3% 5%;
	width: 100%;
}
.form__login-submit:hover, 
#form__login-reg:hover {
	cursor: pointer;
	color: #FDBD03;	
	background-color: #303030;
	opacity: 1;
	border: none;
}
/*===Форма регистрации==============================================================*/
#page__registration {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	background: url("../img/background.png") no-repeat;
	background-size: cover;
	z-index: 400;
}
.page__registration-close {
	content: "";
	position: absolute;	
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	background-size: cover;
    top: -8%;
    right: -6%;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.registration__wrapper {
	position: fixed;
    margin: 10% 0 0 35%;
    background-color: #ffffff;
    border: 5px solid #303030;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 0 1%;    
}
.registration__wrapper p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #303030;
    border-radius: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: lighter;
	margin: 2% 0 1% 0;
    padding: 2% 0;
}
.form__registration fieldset {		
    display: flex;
    flex-direction: column;
    border: none;
}
.form__registration-legend {
	text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 3% 0 4% 3%;
}
.form__registration input {
	border: 2px solid #303030;
	border-radius: 10px;
    margin: 0 0 3% 0;
    padding: 1% 0 1% 3%;        
    font-weight: lighter;
}
.form__registration input:hover {
	background-color: #F2F2F2;
    color: #000000;
}
.form__registration input:focus { 
	background-color: rgb(250, 255, 189);
	border-color: #80bdff;
}
.form__registration-fio {
	width: 96%;
}
.form__registration-login {
	display: block;
	width: 100%;
}
.form__registration-login input {
	width: 67%;
}
.form__registration-chk-name {
	color: #303030;
	background-color: #FDBD03;
	border: none;
	border-radius: 10px;
	text-align: center;
	padding: 1.5% 4%;
}
.form__registration-chk-name:hover {
	cursor: pointer;
	color: #FDBD03;	
	background-color: #303030;
	opacity: 1;
	border: none;
}
.form__registration-tel {
	width: 96%;
}
#form__registration-send-code {
	display: block;
	color: #303030;
	background-color: #FDBD03;
	border: none;
	border-radius: 10px;
	text-align: center;
	margin: 3% 0 3% 21%;
	padding: 1.5% 4%;

	-moz-margin-start: 20%;
	-moz-margin-end: 20%;
}
#form__registration-send-code:hover {
	cursor: pointer;
	color: #FDBD03;	
	background-color: #303030;
	opacity: 1;
	border: none;
}
.form__registration-code {
	width: 96%;
}
.form__registration-submit {
	width: 100%;
	color: #303030;
	background-color: #FDBD03;
	border: none;
	border-radius: 10px;
	text-align: center;
	margin: 3% 0 3% 0;
	padding: 1.5% 4%;
}
.form__registration input[type="checkbox"] {
	display: none;
}
.form__registration input[type="checkbox"] ~ label {
	position: relative;
    margin: 0 0 0 6%;
}
.form__registration input[type="checkbox"] ~ label:before {
	content: "";
	position: absolute;
	background: url("../img/chkbox.png") no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
    left: -6%;
    top: 9%;
}
.form__registration input[type="checkbox"] ~ label:hover:before {
	cursor: pointer;
	opacity: 0.7;
	left: -6%;
    top: 9%;
}
.form__registration input[type="checkbox"]:checked ~ label:before {
	content: "";
	position: absolute;
	background: url("../img/chkbox_marked.png") no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
    top: 9%;
}
.form__registration-submit:hover {
	cursor: pointer;
	color: #FDBD03;	
	background-color: #303030;
	opacity: 1;
	border: none;
}
/*===Личный кабинет=================================================================*/
.personal__area {
	position: relative;
	width: 100%;
	display: flex;
}
.personal__area-nav {
	margin: 0;
	padding: 0;
	display: flex;
    flex-basis: 11%;
}
.personal__area-ul {
	margin: 0;
	padding: 0;
	width: 100%;
}
.personal__area-ul-item {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #303030;	
	background-color: #FDBD03;
	border-radius: 10px;
	margin: 3% 0;
}
.personal__area-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5%;
}
.personal__area-link:hover {
	color: #FDBD03;
	background-color: #303030;
	border-radius: 10px;
}
.personal__area-link-hover {
	display: none;
}
.personal__cabinet {
	display: flex;
	flex-basis: 89%;
}
.personal__cabinet-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.personal__cabinet-wrapper p {
	margin: 1.5% 0 0.5% 0;
	padding: 1% 5%;
	border-radius: 20px;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	color: #FDBD03;
	background-color: #303030;
}
.personal__cabinet-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 81%;
}
.personal__cabinet-link {
	display: flex;
	margin: 1% 1% 1% 1%;
    position: relative;
	/*border: 5px solid #303030;*/
	border: 5px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.personal__cabinet-link:hover {
	filter: none;
	opacity: 1;
	color: #ffffff;
}
.personal__cabinet-img {
	max-width: 100%;
	max-height: 100%;
}
.personal__cabinet_line {
	position: absolute;
	margin: 40% 0 0 0.3%;
	width: 99.5%;
}
.personal__cabinet_icon {
	position: absolute;
	margin: 42% 0 0 6%;
}
.personal__cabinet_icon-car {
	margin: 43% 0 0 6%;
}
.personal__cabinet_icon-cogwheel,
.personal__cabinet_icon-magnifier {
	margin: 41% 0 0 6%;
}
.personal__cabinet-name {
	position: absolute;
	font-size: 32px;
}
.personal__cabinet-name-basket {
	margin: 44% 0 0 41%;
}
.personal__cabinet-name-car {
	margin: 44% 0 0 29%;
}
.personal__cabinet-name-cogwheel {
	margin: 44% 0 0 36%;
}
.personal__cabinet-name-magnifier,
.personal__cabinet-name-setting {
	margin: 44% 0 0 36%;
}
/*===Вывод поиска, результат меньше 30 =============================================*/
.search__result {
	display: flex;
	flex-basis: 89%;
}
.search__result-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 1%;
}
.search__result-wrapper p {
	border-radius: 15px;
	font-size: 48px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	color: #FDBD03;
	background-color: #303030;
	padding: 2.05% 0;
    margin: 0.3% 0 0 0;
}
.search__table, th, td {
	border: 1px solid #468899;
}
.search__table {
    margin: 0.5% 1%;
    background-color: #FFFFFF;
    border-collapse: collapse;   
    width: 98%;
}
.search__table_header {
	background-color: #FDBD03;
}
.search__table_header-name {
	font-size: 32px;
	font-weight: normal;
	text-align: center;
	padding: 1% 0
}
.search__table td {
    font-size: 24px;
    font-weight: normal;
}
.search__table td:first-child,
.search__table td:nth-child(2),
.search__table td:last-child {
	text-align: center;
	padding: 1% 0%;
}
.search__table td:nth-child(3) {
	padding: 1% 1% 1% 1%;
}
.search__table td:last-child {
	padding: 1% 0.5%;
} 
.search__table tr:hover {
	background-color: #FFF7AE;
}
.search__table thead tr:hover {
	background-color: transparent;
}
/*===Вывод поиска, результат больше 30 =============================================*/
.pagination__wrapper {
	display: flex;
	flex-direction: row;	
	justify-content: space-between;
	align-items: center;
	margin: 1% 1% 0 1%;
}
.pagination__menu {
	display: flex;
	align-items: center;
	width: 22%;
    padding: 0 0 0 39%;
}
.pagination__menu-back,
.pagination__menu-forward {
	color: #ffffff;
	font-size: 24px;
}
.pagination__menu-back {
	margin: 0 5% 0 0;
}
.pagination__menu-forward { 
	margin: 0 0 0 5%; 
}
.pagination__menu-back:hover,
.pagination__menu-forward:hover {
	text-decoration: underline;
}
.pagination__menu-num {
	font-size: 24px;
	font-weight: lighter;
	color: #000000;
	border: 2px solid #303030;
	border-radius: 12px;
	padding: 5px 12px;
	margin: 0 1%;
	background-color: #ffffff;
}
.pagination__menu-num:hover {
	background-color: #FDBD03;	
	opacity: 1;
}
.pagination__form {
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination__form p {
	background-color: transparent;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 24px !important;
}
.pagination__form form {
	padding: 0 0 0 5%;
}
.pagination__form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.pagination__form legend {
	display: none;
}
.pagination__select-cust {
	position: relative;
	display: flex;
	border: 2px solid #303030;
	border-radius: 15px;
	background-color: #FFFFFF;
	z-index: 10;
	width: 100%;
	overflow: hidden;
}
.pagination__form select {
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 3px 40px 3px 10px;
	font-size: 24px;
	font-weight: lighter;
	color: #000000;
}

#pagination__select option {
	font-weight: lighter;
}
.pagination__select-cust:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 37px;
	height: 37px;
	border-left: 2px solid #303030;
	background: url("../img/chkbox_marked.png") transparent no-repeat;
	background-size: contain;
	z-index: -1;
}
/*==================================================================================*/