html, body {
	position: relative;
	box-sizing: border-box;
	min-height: 100%;
    min-width: 100%;     
}	
a {
	color: #000000;
	text-decoration: none;
}
button:hover,
a:hover {
	opacity: 0.7;
}
#wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	word-break: break-word;
	text-rendering: auto;
}
.header {
	display: flex;
	align-items: stretch;
	background-image: url("../img/header_bg.jpg");
	background-position: center center;
	width: 100%;
    height: 175px;
}
.header__leftlogo {
	width: 20%;	
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
.header__left_tagline {
	font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    margin: 4% 0 0 11%;
}
.header__left_la-logo {
	display: flex;
	background-image: url("../img/header_la_logo.png");
	background-repeat: no-repeat;
	width: 155px;
    height: 95px;
    margin: 0 0 0 6%;
}
.header__menu-btn {
	display: none;
}
.header__main {
	width: 60%;
	display: flex;
	flex-direction: column;
    justify-content: center;
}
.header__main_tagline {
	font-size: 74px;
    font-weight: bolder;
    font-style: italic;
    /*margin: 4% auto 0 auto;*/
    margin: 4% 25% 6% 25%;
}
.form__wrapper {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.search {
	/*width: 60%;*/
	width: 65%;
	display: flex;
	flex-direction: row;
	/*margin: 4% 0 0 4%;*/
	margin: -3% 3% 0 2%;
}
.search fieldset {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    position: relative;
}
.search__label {
	position: relative;
}
.search input {
	/*border: 2px solid #000000;*/
	border: 3px solid #000000;
	border-radius: 20px;
	/*padding: 1% 0 1% 3%;*/
	padding: 1% 0 1% 2%;
	font-size: 24px;
	font-weight: lighter;
	width: 100%;
}
.search input:hover {
	background-color: #F2F2F2;
    font-style: italic;
}
.search input:focus {
    background-color: #FFFFF0;
}
.search__icon-search {
    position: absolute;
    /*top: 4px;*/
    /*top: 23%;*/
    top: 0%;
    /*left: 98%;*/
    left: 95%;
    /*width: 30px;
    height: 30px;*/
    width: 45px;
    height: 45px;
    /*background: url(../img/zoom.png) no-repeat;  */  
    background: url(../img/border_zoom.png) no-repeat;    
    border: none;
    cursor: pointer;
}
.last__items {
	position: relative;
/*	width: 35px;
    height: 35px;*/
    width: 48px;
    height: 48px;
    /*background: url(../img/eye.png) no-repeat;
    background-size: contain;
    background-color: #FFFFFF;
    background-position: center;*/
	/*border: 2px solid #000000;*/
	border: 3px solid #000000;
	border-radius: 15px;
	background-color: #FFFFFF;
	/*margin: 3.84% 0 0 0;*/
	margin: -3% 0 0 0;
}
.last__items:before {
	content: "";
	position: absolute;
	background: url(../img/eye.png) no-repeat;
    background-size: contain;
    background-color: #FFFFFF;
    top: 23%;
    left: 9%;
    width: 35px;
    height: 25px;
} 
.last__items:hover {
	cursor: pointer;
}
.search__basket {
	/*width: 50px;
    height: 45px;*/
    width: 65px;
    height: 60px;
    background: url(../img/basket_empty.png) no-repeat;
    background-size: contain;
    /*margin: 3.1% 0 0 -2.5%;*/
    margin: -3.9% 0 0 0;
    position: relative;
}
.search__basket:before {
	content: "3";
	position: absolute;
/*    top: 3px;
    left: 11px;*/
    top: 10%;
    left: 20%;
    font-size: 14px;
    font-style: italic;
}
.search__login {
	position: relative;
	/*width: 145px;
	height: 30px;*/
	width: 155px;
    height: 40px;
	background-color: #FFFFFF;
	/*border: 2px solid #000000;*/
	border: 3px solid #000000;
	border-radius: 20px;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	/*padding: 0 0 0 13%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*margin: 4.1% 0 0 0;*/
	margin: -3% 0 0 0;
}
.search__login:before {
	content: "";
    position: absolute;
    /*top: 1px;
    left: 5px;*/
    top: -2%;
    left: 3%;
    /*width: 25px;
    height: 30px;*/
    width: 40px;
    height: 40px;
    /*background: url(../img/login.png) no-repeat;*/
    background: url(../img/border_login.png) no-repeat;
    background-size: contain;    
}
.search__login span {
	position: absolute;
	left: 37%;
}
.header__rightlogo {
	width: 20%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.header__right_tagline {
	font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    margin: 5% 8% 0 0;
}
.header__right_insta {
	display: flex;
	background-image: url("../img/header_insta.png");
	background-repeat: no-repeat;
	width: 105px;
    height: 95px;
    margin: 5% 0 0 0;
}
.main__inner {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #468899;
}
/*.main {
	display: flex;
	width: 100%;
	padding: 1%;
}*/
.main__menu {
	/*width: 100%;*/
	padding: 1% 2% 0 2%;
/*	display: flex;
	flex-direction: row;*/
}
.main__menu-list {
	margin: 0.5% 0 0.5% 0;
	padding: 0;
	list-style-type: none;
	display: flex;
/*	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 1;*/	
	justify-content: space-between;
	align-items: stretch;
}
/*.main__menu-item {
	display: inline-flex;
	flex-wrap: nowrap;
}*/
.main__menu-link {
	text-transform: capitalize;
	font-size: 32px;
	color: #FDBD03;
	/*background-color: #000000;*/
	background-color: #303030;
	border-radius: 20px;
/*	display: flex;
	justify-content: center;
	align-items: center*/;
	padding: 5px 50px 10px 50px;
	text-align: center;
	white-space: nowrap;
}
.main__menu-link:hover {
	color: #000000;
	background-color: #FDBD03;
	opacity: 1;
}
.main__menu-link:focus {
	opacity: 0.7;
}
.main__menu-sales {
	width: 20%;
	display: flex;
}
.main__sales {
	/*width: 100%;*/
	padding: 0 2% 0 2%;
	display: flex;
	/*flex-direction: column;*/
}
.main__sales_stock {
	/*width: 22%;*/
	width: 27%;
	display: flex;
	flex-direction: column;
}
.main__sales_stock p {
	text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
    background-color: #C92F2F;
    border-radius: 20px;
    padding: 3% 0;
    margin: 12% 0 0 0;
}
.main__sales-product {
	position: relative;
	display: flex;
	flex-direction: column;
	/*width: 405px;*/
	width: 440px;
	height: 260px;
	/*margin: 0 0 5% 0;*/
	margin: 7% 0 0 0;
	border-radius: 20px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.main__sales-product:before {
	content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: url(../img/sale.png) no-repeat;
}
.main__sales-product-img {
	/*width: 405px;*/
	width: 440px;
    height: 260px;
    box-sizing: border-box;
    border: 5px solid #C92F2F;
    border-radius: 20px;
}
.main__sales-product strong {
	content: "";
    position: absolute;
    /*width: 115px;*/
    width: 125px;
    height: 35px;
	top: 15%;
    right: 5%;
    background-color: #C92F2F;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
    text-align: center;
    padding: 2% 0 0 0;
}
.main__sales-product:after {
	content: "";
	position: absolute;
/*    width: 394px;
    height: 60px;*/
    width: 429px;
    height: 62px;
    top: 65%;
    left: 1.3%;
	background: url(../img/stock_line.png) no-repeat;
	background-size: contain;
	z-index: 1
} 
.main__sales-product-link {
	position: absolute;
    /*top: 70.5%;*/
    top: 72%;
    left: 23%;
    z-index: 100;
}
.main__sales-product-link:hover {
	color: #FFFFFF;
	opacity: 1;
}
.main__sales-jerrycan {
    content: "";
    position: absolute;
    width: 7%;
    height: 40px;
    top: 70%;
    left: 11%;
    z-index: 100;
}
.main__sales-gear {
	content: "";
    position: absolute;
    width: 52px;
    height: 44px;
    top: 67%;
    left: 8%;
    z-index: 100;
}
.main__sales-wheel {
	content: "";
    position: absolute;
    width: 45px;
    height: 46px;
    top: 67%;
    left: 8%;
    z-index: 100;
}
.main__sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 4%;
}
.main__sections p {
	text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FDBD03;
    text-align: center;
    /*background-color: #000000;*/
    background-color: #303030;
    border-radius: 20px;
    /*padding: 0.9% 0;*/
    padding: 1% 0;
    margin: 4% 0 0 0;
    width: 100%;
}
.main__sections-inner {
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    margin: 2.4% 0 0 0;
}
.main__sections-inner-prod  {
	position: relative;
	display: flex;
	flex-direction: column;
	/*width: 405px;*/
	width: 430px;
	height: 260px;
	margin: 0 0 2.4% 0;
	border-radius: 20px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.main__sections-inner-img {
	/*width: 405px;*/
	width: 430px;
    height: 260px;
    box-sizing: border-box;
    border: 5px solid #000000;
    border-radius: 20px;
}
.main__sections-inner-prod:before{
	content: "";
	position: absolute;
/*    width: 394px;
    height: 60px;*/
    width: 418px;
    height: 60px;
    top: 65%;
    left: 1.4%;
	background: url(../img/stock_line.png) no-repeat;
	background-size: contain;
	z-index: 1
} 
.main__sections-inner-link {
	text-transform: uppercase;
	/*font-size: 24px;
    position: absolute;
    top: 71%;
    left: 27%;*/
    font-size: 26px;
    position: absolute;
    top: 72%;
    left: 30%;
    z-index: 100;
}
.main__sections-inner-link:hover { 
	color: #FFFFFF;
	opacity: 1;
}
.main__sections-inner-gear {
	content: "";
    position: absolute;
    width: 52px;
    height: 44px;
    top: 68%;
    left: 6.5%;
    z-index: 100;
}
.main__sections-inner-jerrycan {
	content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    top: 69%;
    left: 9%;
    z-index: 100;
}
.main__sections-inner-wheels {
	content: "";
    position: absolute;
    width: 45px;
    height: 46px;
    top: 69%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-accessories {
	content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    top: 68%;
    left: 7.3%;
    z-index: 100;
}
.main__sections-inner-instruments {
	content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    top: 69%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-accumulators {
	content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    top: 68%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-autoglass {
	content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    top: 71%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-parts {
	content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 69%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-fastening {
	content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    top: 69%;
    left: 6%;
    z-index: 100;
}
/*.main__inner_bottom_line {
	margin: 1% 2% 0 2%;
}*/
.main__bottom_menu {
	background-image: linear-gradient(to bottom, #468899, #297996, #096992, #00588c, #0d4783);
}
.main__bottom_menu-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1% 2%;	
	position: relative;
}
.main__bottom_menu-container:before {
	content: "";
	position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
	background: url(../img/bottom_line.png) no-repeat;
}
.main__bottom_menu-wrap {
	/*margin: 0.5% 0 0 0;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.main__bottom_menu-wrap p {
	font-size: 20px;
}
.main__bottom_menu-wrap ul {
	/*margin: -3% 0 0 0;*/
	margin: 3% 0 0 0;
	padding: 0;
	list-style-type: none;
}
.main__bottom_menu-wrap li{
    padding: 2% 0;
}
.main__bottom_menu-link {
	color: #FFFFFF;
	/*font-size: 14px;*/
	font-size: 16px;
	line-height: 16px;
}
.main__bottom_menu-link:hover {
	text-decoration: underline;
}
.footer {
	width: 100%;
	display: flex;
	background-color: #FDBD03;		
}
.footer__copyright {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*padding: 0.5% 1% 0.5% 1%;*/
	padding: 1%;
	font-size: 24px;
	font-weight: lighter;
}
.footer__copyright span:first-child {
	text-transform: uppercase;
	padding: 0 1% 0 0;
}
/*==================================================================================*/
/*other page*/

.header__mini {
	display: none;
}
.header__hide {
	display: none;
}
.header__mini-show {
	display: flex;
	box-sizing: border-box;
}
.header__mini {
	width: 100%;
	display: flex;
	background-color: #FDBD03;	
	height: 80px;
}
.header__mini-leftlogo {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 14%;
}
.header__mini-logo {
	background-image: url("../img/header_la_logo_small.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 95px;
    height: 55px;	
}
/*===Выпадающее меню================================================================*/
.header__mini-btn {
	background: transparent url("../img/btn_menu.png") no-repeat 50% 60%;
	width: 80px;
    height: 80px;	
    border: none;
    margin: 0 0 0 2%;
    position: relative;
}
.header__mini-btn:hover {
	background: transparent url("../img/btn_menu_hover.png")  ;
	background-repeat: no-repeat;
	background-size: cover;
	width: 80px;
    height: 80px;	
    border: none;
    opacity: 1;
    cursor: pointer;
}
.header__mini-btn:hover > .header__mini-nav {
	display: flex;
	flex-direction: column;
	z-index: 200;
	cursor: default;
}
.header__mini-nav {
	display: none;
	position: absolute;
	background-color: #303030;
	width: 332%;
	top: 100%;
	left: -233%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.header__mini-ul {
	margin: 0;
	padding: 0;
}
.header__mini-li {
	list-style-type: none;
	/*list-style-image: url("../img/menu_marker.png");*/
	/*display: flex;
	justify-content: flex-start;*/
	margin: 0;
	padding: 0;
}
.header__mini-link {
	/*width: 100%;*/
	color: #FFFFFF;
	font-size: 24px;
	padding: 3% 0 4% 15%;
	display: flex;
	position: relative;
}
.header__mini-link:before {
	content: "";
	position: absolute;
    width: 10px;
    height: 30px;
    top: 20%;
    left: 10%;
    background: url("../img/menu_marker.png") no-repeat;
    background-size: contain;
}
.header__mini-link:hover:before {
	content: "";
	position: absolute;
    width: 10px;
    height: 30px;
    top: 20%;
    left: 10%;
    background: url("../img/menu_marker_hover.png") no-repeat;
    background-size: contain;
}
.header__mini-link:hover {
	background-color: #404040;
	color: #FDBD03;
	opacity: 1;
}
#header__mini-link-last:hover {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.header__main-mini {
	width: 84%;
}
/*==================================================================================*/
.form__wrapper-mini {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.search__mini {
	width: 73%;
	margin: 0.5% 0 0 1.4%;
}
.search__icon-search-mini {
	top: 22%;
	left: 100%;
}
.last__items-mini {
	width: 45px;
    height: 45px;
    margin: 0.5% 0 0 4%;
}
.search__basket-mini {
	width: 65px;
    height: 60px;
    background: url("../img/basket_empty.png") no-repeat;
    background-size: contain;
    margin: -0.2% 0 0 1%;
}

.search__logout {   
	position: relative;
	width: 13%;
	height: 40px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    /* padding: 0 0 0 13%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4% 0 0 2%;
}
.search__logout:before {
	content: "";
    position: absolute;
    top: 10%;
    left: 3%;
    width: 30px;
    height: 35px;
    background: url("../img/login.png") no-repeat;
    background-size: contain;
}