html, body {
	position: relative;
	box-sizing: border-box;
	min-height: 100%;
    min-width: 100%;     
}	
a {
	color: #000000;
	text-decoration: none;
}
button:hover,
a:hover {
	opacity: 0.7;
}
#wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	word-break: break-word;
	text-rendering: auto;
}
.header {
	display: flex;
	align-items: stretch;
	background-image: url("../img/header_bg.jpg");
	background-position: center center;
	width: 100%;
    height: 175px;
}
.header__leftlogo {
	width: 20%;	
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
.header__left_tagline {
	font-size: 50px;
    font-weight: bolder;
    font-style: italic;
}
.header__left_la-logo {
	display: flex;
	background-image: url("../img/header_la_logo.png");
	background-repeat: no-repeat;
	width: 155px;
    height: 95px;
    /*margin: 5% 0 0 0;*/
}
.header__main {
	width: 60%;
	display: flex;
	flex-direction: column;
    justify-content: center;
}
.header__main_tagline {
	font-size: 74px;
    font-weight: bolder;
    font-style: italic;
    margin: 4% auto 0 auto;
}
.form__wrapper {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
.search {
	width: 60%;
	display: flex;
	flex-direction: row;
	margin: 4% 0 0 4%;
}
.search fieldset {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    position: relative;
}
.search__label {
	position: relative;
}
.search input {
	border: 2px solid #000000;
	border-radius: 10px;
	padding: 1% 0 1% 3%;
	font-weight: lighter;
	width: 100%;
}
.search input:hover {
	background-color: #F2F2F2;
    font-style: italic;
}
.search input:focus {
    background-color: #FFFFF0;
}
.search__icon-search {
    position: absolute;
    top: 4px;
    left: 98%;
    width: 30px;
    height: 30px;
    background: url(../img/zoom.png) no-repeat;    
    border: none;
    cursor: pointer;
}
.last__items {
	width: 35px;
    height: 35px;
    background: url(../img/eye.png) no-repeat;
    background-size: contain;
    background-color: #FFFFFF;
    background-position: center;
	border: 2px solid #000000;
	border-radius: 10px;
}
.last__items:hover {
	cursor: pointer;
}
.search__basket {
	width: 50px;
    height: 45px;
    background: url(../img/basket_empty.png) no-repeat;
    background-size: contain;
    margin: 0 0 0 -2.5%;
    position: relative;
}
.search__basket:before {
	content: "3";
	position: absolute;
    top: 3px;
    left: 11px;
    font-size: 14px;
    font-style: italic;
}
.search__login {
	position: relative;
	width: 145px;
	height: 30px;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	/*padding: 0 0 0 13%;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.search__login:before {
	content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 25px;
    height: 30px;
    background: url(../img/login.png) no-repeat;
    background-size: contain;    
}
.header__rightlogo {
	width: 20%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.header__right_tagline {
	font-size: 50px;
    font-weight: bolder;
    font-style: italic;
}
.header__right_insta {
	display: flex;
	background-image: url("../img/header_insta.png");
	background-repeat: no-repeat;
	width: 105px;
    height: 95px;
    margin: 5% 0 0 0;
}
.main__inner {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #468899;
}
/*.main {
	display: flex;
	width: 100%;
	padding: 1%;
}*/
.main__menu {
	/*width: 100%;*/
	padding: 1% 2% 0 2%;
/*	display: flex;
	flex-direction: row;*/
}
.main__menu-list {
	margin: 0.5% 0 0.5% 0;
	padding: 0;
	list-style-type: none;
	display: flex;
/*	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 1;*/	
	justify-content: space-between;
	align-items: stretch;
}
/*.main__menu-item {
	display: inline-flex;
	flex-wrap: nowrap;
}*/
.main__menu-link {
	text-transform: capitalize;
	font-size: 32px;
	color: #FDBD03;
	background-color: #000000;
	border-radius: 10px;
/*	display: flex;
	justify-content: center;
	align-items: center*/;
	padding: 5px 30px 10px 30px;
	text-align: center;
	white-space: nowrap;
}
.main__menu-link:hover {
	color: #000000;
	background-color: #FDBD03;
	opacity: 1;
}
.main__menu-link:focus {
	opacity: 0.7;
}
.main__menu-sales {
	width: 20%;
	display: flex;
}
.main__sales {
	/*width: 100%;*/
	padding: 0 2% 0 2%;
	display: flex;
	/*flex-direction: column;*/
}
.main__sales_stock {
	width: 22%;
	display: flex;
	flex-direction: column;
}
.main__sales_stock p {
	text-transform: uppercase;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    background-color: #C92F2F;
    border-radius: 10px;
    padding: 3% 0;
}
.main__sales-product {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 405px;
	height: 260px;
	margin: 0 0 5% 0;
}
.main__sales-product:before {
	content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: url(../img/sale.png) no-repeat;
}
.main__sales-product-img {
	width: 405px;
    height: 260px;
    box-sizing: border-box;
    border: 5px solid #C92F2F;
    border-radius: 10px;
}
.main__sales-product strong {
	content: "";
    position: absolute;
    width: 115px;
    height: 35px;
	top: 15%;
    right: 5%;
    background-color: #C92F2F;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    color: #FFFFFF;
    text-align: center;
    padding: 2% 0 0 0;
}
.main__sales-product:after {
	content: "";
	position: absolute;
    width: 394px;
    height: 60px;
    top: 65%;
    left: 1.5%;
	background: url(../img/stock_line.png) no-repeat;
	background-size: contain;
	z-index: 1
} 
.main__sales-product-link {
	position: absolute;
    top: 70.5%;
    left: 23%;
    z-index: 100;
}
.main__sales-product-link:hover {
	color: #FFFFFF;
	opacity: 1;
}
.main__sales-jerrycan{
	content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    top: 67%;
    left: 9%;
    z-index: 100;
}
.main__sales-gear{
	content: "";
    position: absolute;
    width: 52px;
    height: 44px;
    top: 67%;
    left: 6.5%;
    z-index: 100;
}
.main__sales-wheel {
	content: "";
    position: absolute;
    width: 45px;
    height: 46px;
    top: 67%;
    left: 7.5%;
    z-index: 100;
}
.main__sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 4%;
}
.main__sections p {
	text-transform: uppercase;
    font-size: 24px;
    color: #FDBD03;
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
    padding: 0.9% 0;
    width: 100%;
}
.main__sections-inner {
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
}
.main__sections-inner-prod  {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 405px;
	height: 260px;
	margin: 0 0 1.4% 0;
}
.main__sections-inner-img {
	width: 405px;
    height: 260px;
    box-sizing: border-box;
    border: 5px solid #000000;
    border-radius: 10px;
}
.main__sections-inner-prod:before{
	content: "";
	position: absolute;
    width: 394px;
    height: 60px;
    top: 65%;
    left: 1.5%;
	background: url(../img/stock_line.png) no-repeat;
	background-size: contain;
	z-index: 1
} 
.main__sections-inner-link {
	text-transform: uppercase;
	font-size: 24px;
    position: absolute;
    top: 71%;
    left: 27%;
    z-index: 100;
}
.main__sections-inner-link:hover { 
	color: #FFFFFF;
	opacity: 1;
}
.main__sections-inner-gear {
	content: "";
    position: absolute;
    width: 52px;
    height: 44px;
    top: 67%;
    left: 6.5%;
    z-index: 100;
}
.main__sections-inner-jerrycan {
	content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    top: 68%;
    left: 9%;
    z-index: 100;
}
.main__sections-inner-wheels {
	content: "";
    position: absolute;
    width: 45px;
    height: 46px;
    top: 67%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-accessories {
	content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    top: 67%;
    left: 7.3%;
    z-index: 100;
}
.main__sections-inner-instruments {
	content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    top: 68%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-accumulators {
	content: "";
    position: absolute;
    width: 45px;
    height: 40px;
    top: 68%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-autoglass {
	content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    top: 70%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-parts {
	content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 67%;
    left: 7.5%;
    z-index: 100;
}
.main__sections-inner-fastening {
	content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    top: 68%;
    left: 6%;
    z-index: 100;
}
.footer {
	width: 100%;
	display: flex;
	background-color: #FDBD03;		
}
.footer__copyright {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5% 1% 0.5% 1%;
	font-weight: lighter;
}
.footer__copyright span:first-child {
	text-transform: uppercase;
	padding: 0 1% 0 0;
}